/* start global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}
.sign {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #3382f6;
    margin-top: 25px;
    color: #e5e7eb;
    font-size: 18px;
}
/* end global */
/* start header */
.header {
    background-color: #1f2937;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    gap: 16px;
}
.header  .container img {
    width: 72px;
}
.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.header ul a {
    font-size: 18px;
    color: #e5e7eb;
}
/* end header */
/* start home */
.home {
    background-color: #1f2937;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}
.home .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex: 1;
}
.home .text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #3382f6;
}
.home .text p {
    font-size: 18px;
    color: #e5e7eb;
}
.home .text .sign {
    border: none;
}
.home .img img {
    max-width: 400px;
    border-radius: 8px;
}
.home .img p {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    color: #e5e7eb;
}
/* end home */
/* start info */
.info .container {
    padding: 100px 0;
}
.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}
.info .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.info .cards .card {
    flex: 1 250px;
    text-align: center;
}
.info .cards .card img {
    max-width: 250px;
    border: 3px solid #3382f6;
    border-radius: 16px;
}
.info .cards .card h3 {
    color: #3382f6;
    margin: 8px 0;
}
.info .cards .card p {
    max-width: 100%;
    font-size: 14px;
    color: #666;
}
/* end info */